<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Gestion de Stock</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/listProvider" routerLinkActive="active">Liste Providers</a>
      <a class="nav-item nav-link" routerLink="/addProvider" routerLinkActive="active">Ajouter Provider</a>
    </div>
  </div>
</nav>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet></router-outlet>
